html, body{
	margin: 0;
	background-color: grey;
}

#content{
	max-width: 95%;
	border: 1px solid black;
	margin: auto;
	background-color: white;
}


header{
	border-bottom: 2px solid black;
	background-color: white;
	margin-top: 0;
}

a{
	text-decoration: none;

}

#blocNotes{
	margin: 30px;
}
h1{
	font-family: 'wicked';
	color: #5b0c9b;
	margin: 0;
	position: relative;
	top: -160px;
	font-size: 2.2em;
}

#gamesManager{
	display: flex;
}
#favoris{
	display: flex;
	flex-direction: column;
}

#ecran{
	position: relative;
	left: 95px;

}

#du{
	transform: skewY(-10deg);
	top: 75px;
	left: 20px;
	position: fixed;
}

#mj{
	transform: skewY(10deg);
	top: 75px;
	position: fixed;
	left: 280px;
}

.favSongs{
	display: flex;
}
.favSongs div{
	display: flex;
	flex-direction: column;
}
#menu li{
	display: flex;
}

#menu li a{
	text-decoration: none;
}

#connexion{
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	width: 200px;
	margin: 30px;
	top: 0;
}

#diceRoll{
	display: flex;
	flex-direction: column;
	border: none;
	position: relative;
	margin-top: calc(1px + 1.1%);
	display: inline-block;
	transform: skewY(-0);
}

#diceRoll:before {
  content: " ";
  background-image:linear-gradient(to right, #f9f3e8, white);
  position: absolute;
  top:0;
  left:-1px;
  right:0px;
  bottom:0;
  z-index: -1;
  transform: skewY(4deg);
  border: 1px solid black;
  box-sizing: content-box;
}

#ambianceSong:before {
  content: " ";
  background-image:linear-gradient(to right, white, #f9f3e8);
  position: absolute;
  top:0;
  left:0px;
  right:-1px;
  bottom:0;
  z-index: -1;
  transform: skewY(-4deg);
  border: 1px solid black;
  box-sizing: content-box;
}


#ambianceSong{
	border: none;
	position: relative;
	margin-top: calc(1px + 1.1%);
	display: inline-block;
	transform: skewY(-0);
	display: flex;
	flex-direction: column;
}
.songInGame{
	width: 250px;
	height: 20px;
}
#ambianceMusique{
	background-image: radial-gradient(circle at center, white, #f9f3e8);
	border-right: 3px solid black;
	border-left: 3px solid black;
}


#ingameContent{
	display: flex;
	align-items: flex-start;

}

.removeSong, .addSong{
	width: 50px;
	height: 70px;
	border-style: none;
}

.addSong{
	background: url("http://localhost/appliJDR/public/images/icone_add_resize.png") no-repeat;
}

.removeSong{
	background: url("http://localhost/appliJDR/public/images/icone_remove_resize.png") no-repeat;
}


.songs{
	display: flex;
	flex-direction: column;
	border: 1px solid red;

}

#allSongs{
	display: flex;
	flex-wrap: wrap;
}



.ingame{
	width: 33%;
	border: 1px solid black;
	height: 400px;

}






#diceResult{
	height: 250px;
	overflow-y: auto;
}

#total{
	width: 90%;
}

#last{
	margin-top: calc(10px + 2.2%) !important;
	margin: 1px;
}

#diceResult div{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	min-height: 25%;
	justify-content: center;
	overflow: auto;
	margin: 2px;
}



#diceResult span{
	border: 1px solid black;
	box-shadow: 2px 2px 1px black;
	width: 20px;
	height: 20px;
	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}



#last span{
	width: 35px;
	height: 35px;
}
#last{
	background-color: white !important;
	min-height: 35% !important;
	overflow: visible !important;
}

#videos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	min-width: 75%;
	padding: 10px;
	height: 100%;
}

video{
	width: 160px;
	height: 120px;
}


@font-face{
	font-family: 'Animalia';
	src: url('font/animalia/animal.otf');
}
@font-face{
	font-family: 'deathfont';
	src: url('font/death_font_ver1_0/DEATH_FONT.ttf')
}

@font-face{
	font-family: 'wicked';
	src: url('font/wicked_grit/WickedGrit.ttf');
}
