html, body{
	margin: 0;
}

header{
	height: 100px;
	border-bottom: 2px solid black;
}

#connexion{
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	width: 200px;
	margin: 30px;
	top: 0;
}
#ingameContent{
	display: flex;

}

audio{
	width: 150px;
}

#ambianceSong{
    width: 200px;
	height: 100%;
	border-right: 1px solid blue;
	background-color: #dee9ea;
}

#diceRoll{
	width: 400px;
	height: 350px;
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	margin: 10px;
}


#diceResult{
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	overflow-y: auto;
	box-sizing: border-box;
}

#total{
	width: 90%;
}	

#diceResult div{
	margin-top: 2px;
	display: flex;
	flex-wrap: wrap;
	min-height: 25%;
	align-items: center;
	justify-content: center;
	overflow: auto;
}


#diceResult span{
	border: 1px solid black;
	box-shadow: 2px 2px 1px black;
	width: 20px;
	height: 20px;
	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#last span{
	width: 35px;
	height: 35px;
}
#last{
	background-color: white !important;
	min-height: 35% !important;
	overflow: visible !important;
}

#videos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	min-width: 75%;
	padding: 10px;
	height: 100%;
}