{% extends 'template.twig' %}
{% block title %}Accueil{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<p>Bienvenue sur l'écran du MJ !<br />
  Cette application est destinée à aider les Maitres de Jeu à instaurer une ambiance prenante durant leurs séances de Jeu de Rôle. En cliquant sur <a href="http://localhost/appliJDR/index.php?action=jouer">"Mes parties"</a>, vous pourrez préparer votre prochaine séance<br />
Aide :<br />
<a href="#">Gérer les sons favoris</a></p>
<a href="#">Créer une partie</a></p>
<a href="#">Ajouter des bruitages à une partie</a>
<a href="#">Ajouter des musiques d'ambiance à une partie</a></p>
<a href="#">Lancer des dés</a></p>
<a href="#">Gérer mon compte</a></p>
<a href="#">FAQ</a></p>

{% endblock %}
