{% extends 'template.twig' %}
{% block title %}Identifiez vous{% endblock %}

{% block script %}{% endblock %}


{% block content %}
<div id="loginBox">
	<form id="formLoginPage" action ="index.php?action=authenticize" method="post" >
			<h2>Identification</h2>
			<label for="identifiantPage">Identifiant</label>
			<input type="text" name="identifiantPage" id="identifiantPage" /><br />
			<label for="passwordLogin">Mot de passe</label>
			<input type="password" name="passwordLogin" id="passwordLogin" /><br />
			<input type="submit" value = "Envoyer"/>
		</form>
</div>

<div id="resetPasswordBox">
	<button class="gestionButton" data-form="changePasswordForm" id="resetPasswordButton">Réinitialiser le mot de passe<span class="caret"><i class="fas fa-angle-down"></i></span></button>
	<form id="changePasswordForm" class="hide" action="index.php?action=resetpassword" method="post" >
			<h2>Réintialiser le mot de passe</h2>
			<label for="mailPassChange">Email</label>
			<input type="email" name="mailPassChange" id="mailPassChange" required /><br />
			<input type="submit" value = "Envoyer"/>
	</form>
</div>

<div id="inscriptionBox">
	<button class="gestionButton" data-form="formSignUp" id="inscriptionButton">Inscription<span class="caret"><i class="fas fa-angle-down"></i></span></button>
	<form id="formSignUp" action="index.php?action=signup" method="post" class='hide'>
			<h2>Inscription</h2>
			<label for="mailInscription">Email</label>
			<input type="email" name="mailInscription" id="mailInscription" required /><br />
			<label for="passwordInscription">Mot de passe</label>
			<input type="password" name="passwordInscription" id="passwordInscription" required /><br />
			<input type="submit" value = "Envoyer"/>
		</form>
</div>

{% endblock %}
