{% extends 'template.twig' %}
{% block title %}Accueil{% endblock %}


{% block header %}
<div class="actionAccueil">
<h1>L'outil des Maitres de Jeu</h1>


	<button><a href="index?action=ingame">Jouer</a></button><br />

</div>

{% endblock %}


{% block content %}

{% endblock %}