{% extends 'template.twig' %}
{% block title %}Accueil{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
{% if id is not null %}



	<h2>Mes parties récentes</h2>


{% else %}
<p> Bienvenue sur l'Ecran du MJ !<br>

Créez des parties personnalisées pour vos séances, et plongez vos joueurs dans une ambiance plus réaliste grâce à une selection de <a href="">sons d'ambiance</a>.<br />
Pas le temps de créez vos parties ? Essayez l'une de nos <a href="">parties prédéfinies</a> à thèmes ! </p>
<button id="accountCreate">CRÉER VOTRE COMPTE</button>
{% endif %}

<div id="predefGames">
	<p>Ici, une liste des dernières games prédéfinies en exemple</p>
</div>
</div>

{% endblock %}
