{% extends 'template.twig' %}
{% block title %}Interface de partie{% endblock %}
{% block script %}<script src="public/js/Ingame.js"></script>
<script src="public/js/VideoPlayer.js"></script>{% endblock %}
{% block header %}Ici, plusieurs onglets permettront de passer plus facilement d'une fonctionnalité à l'autre{% endblock %}
{% block content %}

<div id="ingameContent">
	<section id="ambianceSong">
		
		<h3>Bruitages</h3>
		{% if favSongs %}
		
		{% for favSongs in favSongs %}
		{{ favSongs['name'] }}
		<audio src="songs/{{ favSongs['access'] }}" controls></audio>
		{% endfor %}
		
		
		{% else %}
		Votre liste de sons favoris est vide ! Ajoutez en <a href="?action=allsongs">ici</a>
		{% endif %}

		
	</section>

	<section id="ambianceMusique">
		<p>Pour ajouter une vidéo youtube, ajoutez l'identifiant de la vidéo (ex : dQw4w9WgXcQ) ci-dessous</p>
		
		<form id="videoAdd" action="index.php?action=accountAddVideo" method="post">
		<input type="texte" name="videoLink" id="videoLink" required>
		<input type="submit" id="addVideoLink" value="Ajouter">
		</form>
		
		{% for videos in videos %}
		   <iframe id="player" type="text/html" width="240" height="135"
  src="http://www.youtube.com/embed/{{ videos['video_link'] }}?enablejsapi=1&origin=http://localhost/appliJDR"
  frameborder="0"></iframe>
  
  <form id="videoRemove" action="index.php?action=accountRemoveVideo" method="post">
	<input type="hidden" name="videoLink" id="videoLink" value={{ videos['video_link'] }}>
	<input type="submit" id="removeVideo" value="x">
  </form>
		{% endfor %}
		
		
	
	</section>

	<section id="diceRoll">	
	
		<div id="diceResult">
		<div id="last"></div>

		</div>
		
	<div>
		<form id="roll">
		<input type="text" name="diceNumber" id="diceNumber" required>
		Dés
		<input type="text" name="diceFaces" id="diceFaces" required>
		   <input type="button" id="rollDices" value="Envoyer">
		</form>

	</div>	
	</section>

</div>


{% endblock %}


{% block script_bottom %}
<script>var Ingame = new Ingame();

</script>
{% endblock %}
