{% extends 'template.twig' %}
{% block title %}Inscription{% endblock %}

{% block script %}{% endblock %}

{% block header %}Inscription{% endblock %}

{% block content %}

<form id="formLogin" action = "index.php?action=signup" method="post" >
		<h2>Inscription</h2>
		<label for="mail">Email</label>
		<input type="email" name="mail" id="mail" /><br />
		<label for="password">Mot de passe</label>
		<input type="password" name="password" id="password" /><br />
		<input type="submit" value = "Envoyer"/>
	</form>

{% endblock %}