<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link href="public/style.css" rel="stylesheet" /> 
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		{% block script %}{% endblock %}
	

    </head>
	<body>
	
	
		<header>
	<nav>
		<ul>
			<li><a href="?action=allsongs">Tous les sons</a></li>
			<li><a href="#">Lien 2</a></li>
			<li><a href="#">Lien 3</a></li>
		</ul>
	</nav>
	
	<div id="connexion">
	{% if pseudo is not null %}
	<p>Bienvenue {{pseudo}} !</p>
	<a href="index?action=logout">Déconnexion</a>
	{% else %}
	<a href="index?action=login">Connexion</a>
	<a href="index?action=inscription">Inscription</a>
	
	{% endif %}
	</div>
		
				{% block header %}{% endblock %}
		</header>
		 
		 <div id="content">
			{% block content %}{% endblock %}
		</div>
			
		<footer>
			
		</footer>
		

<script src="public/js/main.js"></script>
{% block script_bottom %}{% endblock %}

	</body>
</html>
