{% extends 'template.twig' %}
{% block title %}Interface de partie{% endblock %}
{% block script %}{% endblock %}
{% block header %}Ici, plusieurs onglets permettront de passer plus facilement d'une fonctionnalité à l'autre{% endblock %}
{% block content %}

<p>Voila : </p>

{% for checkSongs in checkSongs %}
{{ checkSongs['total'] }}
{% endfor %}
{% endblock %}


{% block script_bottom %}

{% endblock %}
